# Angel One credentials
ANGELONE_API_KEY=hmKcguN0
ANGELONE_CLIENT_ID=AACF854831
ANGELONE_ACCESS_TOKEN=edd0c227-84b4-49c8-8528-96b17138ae84

# Trading mode
PAPER_TRADE=true
SCAN_INTERVAL_SECONDS=2
ALERT_EVERY_CHECK=true

# Risk settings
CAPITAL=100000
RISK_PER_TRADE_PCT=1.0

# Optional Telegram alerts
TELEGRAM_BOT_TOKEN=8576620144:AAEIvJBmrT-ZGpE6GG-YyXJZW4FD3dTlgzo
TELEGRAM_CHAT_ID=7695827910
